*,body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    line-height: 1.7;
    font-family:  sans-serif;
    color: #364d59 ;
    font-weight: 300;
    font-size: 16px;

}

.contant{
    width: 100%;
    margin: auto;
}

.contant .section1{
    width: 100%;
    height: 30%;
    margin-top: 20px;
     overflow:hidden;
}

.contant .section1 .our-story{
    position: relative;
    float: left;
    width: 43%;
    height: 100%;
    margin: 15% 5% 5% 10%;
}



.contant .section1 .our-story span.story{
    position: absolute;
    color: #efefef;
    font-weight: 900;
    text-transform: uppercase;
    z-index: -1;
    font-size: 75px;
    margin-top: -35px;
}

.contant .section1 .our-story span.dis{
    color: #efba6c;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0px;
        font-weight: bold;
}


.contant .section1 .our-story h4{
    margin-bottom: 50px;
    font-size: 28px;
    color: black;
}


.contant .section1 .img{
    float: left;
    width: 30%;
    height: 100%;
    margin: 6% 6% 5% -5%;
}


.contant .section1 .img img {
    width: 125%;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
}

.contant .section2 .journey{
    width: 400px;
    height: 100px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

.contant .section2{
    overflow: hidden;
}

.contant .section2 .journey span.jo{
    position: absolute;
    left: 5px;
    top: 5px;
    color: #efefef;
    font-weight: 900;
    text-transform: uppercase;
    z-index: -1;
    font-size: 75px;
    margin-top: -35px;
} 

.contant .section2 .journey span.j-o{
    color: #eaa43e;
    text-transform: uppercase;
    font-weight: bold;
}

.contant .section2 .journey h4{
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.contant .section2 .phots{
    width: 80%;
    height: 500px;
    margin: auto;
}

.contant .section2 .img2{
    width: 30%;
    height: 100%;
    margin: 15px;
    float: left;
    overflow: hidden;
}

.contant .section2 .img2 img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position:relative;
    transition: .3s all ease;
}


.contant .section2 .img2 img:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.contant .section2 .img2 .text a{
text-decoration: none;

}

.contant .section2 .img2 .text a.price{
    position: absolute;
    bottom: 70px;
    left: 40%;
    text-align: center;
    width: 25%;
    height: 30px;
    color: white;
    background-color: #efba6c;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.contant .section2 .img2 .text a.price:hover{
    background-color: #eaa43e ;
}

.contant .section2 .img2 .text p a{
        position: absolute;
bottom: 20px;
left: 20%;
color: white;
font-size: 20px;

    /* width: 25%; */
    /* height: 30px; */

}